<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="/static/images/favicon.png"/>

    <title>
        {% block title %}{% endblock %} | SMP Pertiwi Bandung
    </title>

    <link rel="stylesheet" href="/static/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/static/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="/static/vendors/datatables.net-bs4/dataTables.bootstrap4.css">
    <link rel="stylesheet" href="/static/vendors/simple-line-icons/css/simple-line-icons.css">

    <!-- Specific Plugin CSS goes HERE -->
    {% block plugin_stylesheets %}{% endblock plugin_stylesheets %}

    <link rel="stylesheet" href="/static/css/style.css">

    <!-- Specific CSS goes HERE -->
    {% block stylesheets %}{% endblock stylesheets %}
</head>

<body>
    <div class="container-scroller">
        {% include 'includes/sidebar.html' %}
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_navbar.html -->
            {% include 'includes/navigation.html' %}
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">
                    {% include 'includes/message.html' %}
                    {% block content %}{% endblock content %}
                </div>
                {% include 'includes/footer.html' %}
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->

    <!-- plugins:js -->
    <script src="/static/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->

    <!-- Specific Plugin JS goes HERE  -->
    <script src="/static/vendors/datatables.net/jquery.dataTables.js"></script>
    <script src="/static/vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
    {% block plugin_javascripts %}{% endblock plugin_javascripts %}

    <!-- inject:js -->
    <script src="/static/js/off-canvas.js"></script>
    <script src="/static/js/hoverable-collapse.js"></script>
    <script src="/static/js/misc.js"></script>
    <script src="/static/js/settings.js"></script>
    <script src="/static/js/todolist.js"></script>
    <script src="/static/js/data-table.js"></script>
    <!-- endinject -->

    <!-- Specific Page JS goes HERE  -->
    {% block javascripts %}{% endblock javascripts %}

</body>
</html>
