{% extends "layouts/base.html" %}

{% block title %} Ubah Kata Sandi {% endblock %}

<!-- Specific Plugin CSS goes HERE -->
{% block plugin_stylesheets %}
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="/static/vendors/jvectormap/jquery-jvectormap.css">
  <link rel="stylesheet" href="/static/vendors/flag-icon-css/css/flag-icon.min.css">
  <link rel="stylesheet" href="/static/vendors/owl-carousel-2/owl.carousel.min.css">
  <link rel="stylesheet" href="/static/vendors/owl-carousel-2/owl.theme.default.min.css">
{% endblock plugin_stylesheets %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="content-wrapper">
    <div class="row grid-margin">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-row justify-content-between">
                <h4 class="card-title">Edit User</h4>
              </div>
              <p></p>
                <form action="{{ url_for('password_change') }}" method="POST">
                <input type="hidden" id="userid" name="userid" value="{{ changePassUserId }}">
                  {% if mesage is defined and mesage %}
                    <div class="alert alert-warning">
                      {{  mesage }}
                    </div>
                  {% endif %}

                    <div class="form-group">
                        <label>Password :</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>

                    <div class="form-group">
                        <label>Konfirmasi Password :</label>
                        <input type="password" class="form-control" id="confirm_pass" name="confirm_pass" required>
                    </div>

                    <button class="btn btn-primary" type="submit">
                        Simpan
                    </button>
                </form>
            </div>
        </div>
      </div>
    </div>
</div>
{% endblock content %}

<!-- Specific Plugin JS goes HERE  -->
{% block plugin_javascripts %}

  <script src="/static/vendors/chart.js/Chart.min.js"></script>
  <script src="/static/vendors/progressbar.js/progressbar.min.js"></script>
  <script src="/static/vendors/jvectormap/jquery-jvectormap.min.js"></script>
  <script src="/static/vendors/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
  <script src="/static/vendors/owl-carousel-2/owl.carousel.min.js"></script>

{% endblock plugin_javascripts %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script src="/static/js/dashboard.js"></script>

{% endblock javascripts %}