{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Plugin CSS goes HERE -->
{% block plugin_stylesheets %}
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="/static/assets/vendors/jvectormap/jquery-jvectormap.css">
  <link rel="stylesheet" href="/static/assets/vendors/flag-icon-css/css/flag-icon.min.css">
  <link rel="stylesheet" href="/static/assets/vendors/owl-carousel-2/owl.carousel.min.css">
  <link rel="stylesheet" href="/static/assets/vendors/owl-carousel-2/owl.theme.default.min.css">
{% endblock plugin_stylesheets %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="content-wrapper">
    <div class="row ">
        <div class="col-12 grid-margin">
          <div class="card">
            <div class="card-body">
                <div class="d-flex flex-row justify-content-between">
                <h4 class="card-title">Data User Login</h4>
                <p class="text-muted mb-1 small">
                    <a class="nav-link btn btn-success" href="{{ url_for('add_user') }}">+ Tambah User</a>
                </p>
              </div>

                <div class="row mt-2">
                    <div class="col-12">
                    {% if mesage is defined and mesage %}
            <div class="alert alert-warning">
              {{ mesage }}
            </div>
          {% endif %}
                        <div class="table-responsive">
                        <table class="table dataTable no-footer" id="order-listing">
                          <thead>
                            <tr>
                              <th> Nama lengkap </th>
                              <th> Email </th>
                              <th class="text-center"> Role </th>
                              <th class="text-center"> Aksi </th>
                            </tr>
                          </thead>
                          <tbody>
                          {% for user in users %}
                            <tr>
                              <td>{{ user.nama }}</td>
                              <td> {{ user.email }}</td>
                              <td class="text-center">
                                  {% if user.role == 'admin' %}
                                  <label class="badge badge-success">{{ user.role }}</label>
                                      {% else %}
                                      <label class="badge badge-info">{{ user.role }}</label>
                                  {% endif %}
                              </td>
                              <td class="w-25 text-center">
                                  <a href="{{url_for('edit', userid=user.userid)}}" class="btn btn-outline-primary">Edit</a>
                                  <a href="{{url_for('password_change', userid=user.userid)}}" class="btn btn-outline-info">Ganti Password</a>
                                  <a href="{{url_for('delete', userid=user.userid)}}" class="btn btn-outline-danger">Hapus</a>
                              </td>
                            </tr>
                          {% endfor %}
                          </tbody>
                        </table>
                      </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
</div>

{% endblock content %}

<!-- Specific Plugin JS goes HERE  -->
{% block plugin_javascripts %}

  <script src="/static/assets/vendors/chart.js/Chart.min.js"></script>
  <script src="/static/assets/vendors/progressbar.js/progressbar.min.js"></script>
  <script src="/static/assets/vendors/jvectormap/jquery-jvectormap.min.js"></script>
  <script src="/static/assets/vendors/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
  <script src="/static/assets/vendors/owl-carousel-2/owl.carousel.min.js"></script>

{% endblock plugin_javascripts %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script src="/static/assets/js/dashboard.js"></script>

{% endblock javascripts %}